# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
tcl/
Include/
*.exe
*.dll

#Ignore auto generated directory
.DS_Store
.idea

# C extensions
*.so

# Thumbnails
._*
# general
*~
*.log
tmp
dump

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin

# SBT
dist
project/boot
project/target
project/plugins/target
target
.target

# Play
logs
RUNNING_PID